<!-- footer -->
<footer id="az-footer">
  <div class="container">
    <div class="row">
      <div class="az-contact col-md-5 col-lg-6">
        <h2>Alizon BD</h2>
        <p class="az-details">
          AliZon is an online platform connected to international wholesale
          marketplaces where you can purchase any product directly. Even you can
          also import your products from abroad through our platform within a
          short time.
        </p>
        <p class="az-address">
          <i class="fa fa-map-marker"></i> Office: 32/7, Hashem Khan Road, Rayer
          Bazar, Dhanmondi, Dhaka.
        </p>
        <p class="az-contact-phone">
          <i class="fa fa-phone"></i> Phone: 01968011689
        </p>
        <p class="az-contact-email">
          <i class="fa fa-envelope"></i> Email:
          <a class="text-light" href="mailto:info.alizonbd@gmail.com"
            >info.alizonbd@gmail.com</a
          >
        </p>
      </div>
      <div class="col-md-2 col-lg-2">
        <h5 class="az-footer-title">Company</h5>
        <div class="az-footer-links">
          <a href="#!">About Us</a>
          <a href="#!">Services</a>
          <a href="#!">Contact Us</a>
        </div>
      </div>
      <div class="col-md-2 col-lg-2">
        <h5 class="az-footer-title">Support</h5>
        <div class="az-footer-links">
          <a href="#!">Support desk</a>
          <a href="#!">Terms & Conditions</a>
          <a href="#!">Pricing Policy</a>
          <a href="#!">Refund Policy</a>
        </div>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="az-footer-title">Connect us</h5>
        <a
          href="https://facebook.com/alizon.com.bd/"
          target="_blank"
          class="btn btn-info my-2"
        >
          <i class="fa fa-facebook"></i> Facebook
        </a>
        <a
          href="https://m.me/alizon.com.bd"
          target="_blank"
          class="btn btn-primary az-icon-msg my-2"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M256.55 8C116.52 8 8 110.34 8 248.57c0 72.3 29.71 134.78 78.07 177.94 8.35 7.51 6.63 11.86 8.05 58.23A19.92 19.92 0 0 0 122 502.31c52.91-23.3 53.59-25.14 62.56-22.7C337.85 521.8 504 423.7 504 248.57 504 110.34 396.59 8 256.55 8zm149.24 185.13l-73 115.57a37.37 37.37 0 0 1-53.91 9.93l-58.08-43.47a15 15 0 0 0-18 0l-78.37 59.44c-10.46 7.93-24.16-4.6-17.11-15.67l73-115.57a37.36 37.36 0 0 1 53.91-9.93l58.06 43.46a15 15 0 0 0 18 0l78.41-59.38c10.44-7.98 24.14 4.54 17.09 15.62z"
            />
          </svg>
          Messenger
        </a>
        <a
          href="https://wa.me/+8801968011689"
          target="_blank"
          class="btn btn-success az-icon-msg my-2"
        >
          <i class="fa fa-whatsapp"></i> Whatsapp
        </a>
        <a
          href="mailto:info.alizonbd@gmail.com"
          target="_blank"
          class="btn az-btn-primary my-2"
          ><i class="fa fa-envelope"></i> Email
        </a>
      </div>
    </div>
    <hr />
    <h3 class="az-footer-title text-center">
      &copy;Alizon BD ltd - <%= new Date().getFullYear()%>. All rights reserved.
    </h3>
  </div>
</footer>
