<div class="container hide-on-med-down" id="az-nav-bottom">
  <ul class="nav justify-content-center mx-auto">
    <li class="nav-item">
      <a class="nav-link" href="/shipment">
        <span class="fa fa-ship mr-1"></span>Product Shipment
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/source-product">
        <span class="fa fa-shopping-basket mr-1"></span>Source Product</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/buy-and-ship"
        ><span class="fa fa-briefcase mr-1"></span>Buy & Ship Product</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/cost-calculator">
        <span class="fa fa-calculator mr-1"></span>Cost Calculator
      </a>
    </li>
    <li class="nav-item">
      <a
        href="https://www.messenger.com/t/Aliz0nbd"
        target="_blank"
        class="nav-link"
      >
        <img src="/icons/messenger.svg" alt="messenger" width="18px" />
        Messenger
      </a>
    </li>
    <li class="nav-item">
      <a href="https://wa.me/+8801968011689" target="_blank" class="nav-link">
        <i class="fa fa-whatsapp"></i> Whatsapp
      </a>
    </li>
  </ul>
</div>
