<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= typeof title !== 'undefined' ? title : 'Alizon' %></title>
    <link rel="shortcut icon" href="/images/logo2.png" type="image/png" />
    <link rel="icon" href="/images/logo2.png" type="image/png" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- slick slider -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <% if (typeof route !== 'undefined' && route==='singleproduct') { %>
      <link rel="stylesheet" href="/stylesheets/single-product.css" />
    <% } %>
    <% if (typeof route !== 'undefined' && route==='order') { %>
      <link rel="stylesheet" href="/stylesheets/order.css" />
    <% } %>
    <% if (typeof route !== 'undefined' && route==='shipments') { %>
      <link rel="stylesheet" href="/stylesheets/ship-for-me.css" />
    <% } %>
  </head>
  <body>
        <%#  messenger chat plugin %> 
        <div id="fb-root"></div>
        <script>
          window.fbAsyncInit = function() {FB.init({xfbml : true,version : 'v9.0'});};
          (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
        <div class="fb-customerchat" attribution="setup_tool" page_id="102256241672581"
          theme_color="#0A7CFF" logged_in_greeting="Welcome! How can we help you?" logged_out_greeting="Hi! How can we help you?">
        </div>